<h3>{{firstName}}'s Christmas Wish List</h3>

<p *ngIf="list?.length==0 && currentUsername==username">
  You haven't added anything yet!
</p>
<p *ngIf="list?.length==0 && currentUsername!=username">
  {{firstName}} hasn't added anything yet!
</p>
<p *ngIf="list?.length>0">Tap item to view details</p>

<div
  class="christmas-list"
  *ngFor="let item of list"
  (click)="onSelect(item)"
>
  <p>{{item.name}}</p>
</div>

<button *ngIf="currentUsername==username" (click)="addItem()">
    Add Item
</button>