<h1>{{item.name}}</h1>
<p>{{item.description}}</p>


<button *ngIf="item.bought!=null && !item.bought" (click)="buy()">
    Mark as bought
</button>

<button *ngIf="item.bought" disabled>
    This has been bought!
</button>

<div *ngIf="item.bought==null">
    <button (click)="edit()">
        Edit
    </button>
</div>


<!-- <div *ngIf="currentUser.username!=username">
        <button *ngIf="!item.bought" (click)="buy()">
            Buy
        </button>
    
        <button *ngIf="item.bought" disabled>
            Already bought!
        </button>
    </div>
    
    <div *ngIf="currentUser.username==username">
        <button (click)="edit()">
            Edit
        </button>
    </div> -->